:root {
  font-size: 15px;

  --primaryColor: #375985;
  --borderColor: #273145;
  --backgroundColor: #fff;
  --fontColor: #000;
  --activeBtnColor: #15273f;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a:visited {
  color: var(--fontColor);
}

.site-header {
  flex-basis: 100%;
  height: 80px;
  background-color: var(--primaryColor);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0.5rem 1rem;
  min-width: 320px;
}

.site-header__branding {
  display: flex;
  align-self: center;
  align-items: center;
  flex-flow: row nowrap;
  height: 100%;
  padding: 0.25rem;
}

.site-header__branding--hidden {
  display: none;
}

.site-header__logo {
  margin-right: 0.25rem;
}

.site-header__title {
  font-size: 1.25rem;
  margin-left: 0.25rem;
}

.site-header__nav,
.site-header__navigation,
.site-header__list,
.site-header__search-form,
.site-header__buttons-cnt {
  display: flex;
}

.site-header__nav {
  height: 100%;
  margin-left: auto;
}

.site-header__form {
  width: 300px;
  height: 50px;
  margin: 80px auto 0 auto;
  padding: 0.5rem;
  background-color: var(--primaryColor);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -180px);
  visibility: hidden;
  transition: transform 0.3s 0.1s ease-in-out, visibility 0.3s 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-header__search-form {
  width: 100%;
  height: 100%;
}

.site-header__input-text {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  padding: 0.25rem;
  border: none;
}

.site-header__form-submit {
  width: 40px;
  height: 100%;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  background: transparent;
}

.site-header__form--active {
  transform: translate(-50%, 0);
  visibility: visible;
}

.site-header__navigation {
  background-color: var(--primaryColor);
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  margin-top: 80px;
  justify-content: center;
  height: 200px;
  width: 225px;
  visibility: hidden;
  transform: translateX(-225px);
  transition: transform 0.4s 0.1s ease-in-out, visibility 0.3s 0.1s;
}

.site-header__navigation--active {
  transform: translateX(0);
  visibility: visible;
}

.site-header__list {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.site-header__item {
  width: 100%;
  height: 33.333%;
  border-bottom: 1.5px solid var(--borderColor);
}

.site-header__list .site-header__item:first-child {
  border-top: 1.5px solid var(--borderColor);
}

.site-header__buttons-cnt--hidden {
  display: none;
}

.site-header__btn {
  background: transparent;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1.5rem;
}

.hamburger-btn,
.form-btn {
  background: transparent;
  border: 0;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  margin: 0 0.5rem;
}

.hamburger-btn__box,
.form-btn__box {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 30px;
}

.form-btn__img {
  width: 100%;
  height: 100%;
}

.hamburger-btn__inner,
.hamburger-btn__inner::before,
.hamburger-btn__inner::after {
  display: inline-block;
  background-color: #000;
  height: 3px;
  width: 100%;
  position: absolute;
  transition: transform 0.4s ease-in-out;
}

.hamburger-btn__inner::before,
.hamburger-btn__inner::after {
  content: '';
  left: 0;
}

.hamburger-btn__inner {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.hamburger-btn__inner::before {
  top: -12px;
}

.hamburger-btn__inner::after {
  top: 12px;
}

.hamburger-btn--active .hamburger-btn__inner {
  background: transparent;
}

.hamburger-btn--active .hamburger-btn__inner::before {
  transform: translateY(12px) rotate(45deg);
}

.hamburger-btn--active .hamburger-btn__inner::after {
  transform: translateY(-12px) rotate(-45deg);
}

/* add menu0 sticker */

.add-sticker-menu {
  width: 320px;
  height: 400px;
  background-color: var(--primaryColor);
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-320px);
  display: none;
  border-radius: 10px;
  z-index: 9999;
}

.add-sticker-menu--active {
  display: block;
  transform: translateX(0) translateX(-50%);
  margin-top: 100px;
  left: 50%;
}

.add-sticker-menu__form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
}

/* delete stickers menu */

.site-header__delete-stickers-btns {
  display: none;
}

.site-header__delete-stickers-btns--active {
  display: flex;
}

.main__btn-confirm-remove,
.main__btn-check-all,
.site-header__btn-cancel-remove {
  margin: auto;
  width: 100%;
  height: 100%;
}

/* main */

.main {
  min-width: 320px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
  row-gap: 1.5px;
  column-gap: 1.5px;
  padding: 5px;
}

/* stickers */

.sticker {
  background-color: green;
  border: 1.5px solid black;
  position: relative;
}

.sticker-template {
  display: none;
}

.sticker__header {
  /* display: grid;
  grid-auto-rows: 45px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  background-color: pink;
}

.sticker__form {
  display: grid;
  grid-auto-rows: 45px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  background-color: pink;
}

.sticker__title {
  font-size: 1rem;
  font-weight: normal;
}

.sticker__nav-cnt {
  width: 100%;
  grid-column: span 2;
}

.sticker__nav-list {
  display: flex;
}

.sticker__content {
  width: 100%;
  height: 200px;
  background: green;
  display: flex;
}

.sticker__textarea {
  resize: none;
}

/* Sticker checkbox */

.sticker__delete-checkbox {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  z-index: 9999;
}

.sticker__delete-checkbox--active {
  display: block;
}

@media (min-width: 320px) {
  :root {
    font-size: calc(15px + 6 * ((100vw - 320px) / 680));
  }
}

@media (min-width: 768px) {
  .hamburger-btn {
    display: none;
  }

  .site-header__nav {
    margin-left: 0;
    width: 100%;
    justify-content:  flex-end;
  }

  .site-header__navigation {
    position: static;
    margin-top: 0;
    transform: translateY(0);
    height: 100%;
    visibility: visible;
    transition: none;
    width: auto;
  }

  .site-header__list {
    flex-flow: row nowrap;
  }

  .site-header__item {
    height: auto;
    width: auto;
    border: none;
  }

  .site-header__list .site-header__item:first-child {
    border: none;
  }

  .site-header__btn {
    width: auto;
    margin: 0.5rem;
    cursor: pointer;
  }
}

@media (min-width: 1000px) {
  :root {
    font-size: 21px;
  }
}
