:root {
  font-size: 15px;

  --primaryColor: #375985;
  --borderColor: #273145;
  --backgroundColor: #fff;
  --fontColor: #000;
  --activeBtnColor: #15273f;
  --inputFocusShadowBox: 2px 5px 11px 8px #841985;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.site-header {
  flex-basis: 100%;
  height: 80px;
  background-color: var(--primaryColor);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0.5rem 1rem;
  min-width: 320px;
}

.site-header__branding {
  display: flex;
  align-self: center;
  align-items: center;
  flex-flow: row nowrap;
  height: 100%;
  padding: 0.25rem;
}

.site-header__branding--hidden {
  display: none;
}

.site-header__logo,
.site-header__title {
  margin-right: 0.25rem;
  font-size: 1.25rem;
}

.site-header__nav,
.site-header__navigation,
.site-header__list,
.site-header__search-form,
.site-header__buttons-cnt {
  display: flex;
}

.site-header__nav {
  height: 100%;
  margin-left: auto;
}

.site-header__nav--center {
  justify-content: center;
  margin-left: 0;
  width: 100%;
}

/* site-header__form site-header__input site-header__btn site-header__label */

.site-header__form {
  background-color: var(--primaryColor);
  display: flex;
  padding: 15px;
  width: 100%;
  height: 100%;
}

.site-header__input,
.site-header__textarea {
  width: 100%;
  height: 100%;
  padding: 5px;
  font-size: 1em;
  border: none;
}

.site-header__label {
  font-size: 1em;
}

.site-header__input:focus,
.site-header__textarea:focus {
  box-shadow: var(--inputFocusShadowBox);
  -webkit-box-shadow: var(--inputFocusShadowBox);
}

.site-header__btn {
  background: transparent;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 1em;
  cursor: pointer;
  padding: 5px;
}

.site-header__btn:focus {
  border: none;
  outline: solid 5px var(--borderColor);
}

.site-header__btn:active {
  background: var(--activeBtnColor);
}

/* site-header__list site-header__item */

.site-header__list {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5px;
}

.site-header__list--flex-row {
  flex-flow: row nowrap;
}

.site-header__item {
  width: 100%;
  height: 100%;
}

/* site-header__form-search */

.site-header__form-search {
  width: 320px;
  height: 80px;
  margin: 80px auto 0 auto;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -180px);
  visibility: hidden;
  transition: transform 0.3s 0.1s ease-in-out, visibility 0.3s 0.1s;
}

.site-header__form-search .site-header__form .site-header__input {
  width: 250px;
  margin-right: 10px;
}

.site-header__form-search--active {
  transform: translate(-50%, 0);
  visibility: visible;
}

/* site-header__navigation */

.site-header__navigation {
  background-color: var(--primaryColor);
  font-size: 1.5rem;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  margin-top: 80px;
  justify-content: center;
  height: 150px;
  width: 225px;
  visibility: hidden;
  transform: translateX(-225px);
  transition: transform 0.4s 0.1s ease-in-out, visibility 0.3s 0.1s;
}

.site-header__navigation .site-header__list {
  justify-content: space-between;
}

.site-header__navigation .site-header__item {
  border-bottom: 1.5px solid var(--borderColor);
}

.site-header__navigation .site-header__item:first-child {
  border-top: 1.5px solid var(--borderColor);
}

.site-header__navigation--active {
  transform: translateX(0);
  visibility: visible;
}

/* hamburger buttons */

.site-header__buttons-cnt--hidden {
  display: none;
}

.hamburger-btn,
.form-btn {
  background: transparent;
  border: 0;
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  margin: 0 0.5rem;
}

.hamburger-btn:focus,
.form-btn:focus {
  border: none;
}

.hamburger-btn__box,
.form-btn__box {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 30px;
}

.form-btn__img {
  width: 100%;
  height: 100%;
}

.hamburger-btn__inner,
.hamburger-btn__inner::before,
.hamburger-btn__inner::after {
  display: inline-block;
  background-color: #000;
  height: 3px;
  width: 100%;
  position: absolute;
  transition: transform 0.4s ease-in-out;
}

.hamburger-btn__inner::before,
.hamburger-btn__inner::after {
  content: '';
  left: 0;
}

.hamburger-btn__inner {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.hamburger-btn__inner::before {
  top: -12px;
}

.hamburger-btn__inner::after {
  top: 12px;
}

.hamburger-btn--active .hamburger-btn__inner {
  background: transparent;
}

.hamburger-btn--active .hamburger-btn__inner::before {
  transform: translateY(12px) rotate(45deg);
}

.hamburger-btn--active .hamburger-btn__inner::after {
  transform: translateY(-12px) rotate(-45deg);
}

/* add menu sticker */

.site-header__add-sticker-menu {
  width: 320px;
  height: 450px;
  background-color: var(--primaryColor);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateY(-450px);
  visibility: none;
  border-radius: 10px;
  z-index: 9999;
  transition: transform 0.4s 0.1s ease-in-out, visibility 0.3s 0.1s;
}

.site-header__add-sticker-menu--active {
  display: block;
  transform: translateX(-50%) translateY(90px);
}

.site-header__add-sticker-menu .site-header__form {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

.site-header__add-sticker-menu .site-header__form * {
  margin: 5px 0;
}

.site-header__add-sticker-menu .site-header__form .site-header__btn:first-of-type {
  margin-top: 10px;
}

/* delete stickers menu */

.site-header__delete-stickers-btns {
  display: none;
}

.site-header__delete-stickers-btns--active {
  display: flex;
}

/* main */

.main {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
  grid-auto-flow: row;
  row-gap: 5.5px;
  column-gap: 5.5px;
  justify-content: center;
  align-content: start; */

  /* display: flex;
  flex-flow: row wrap;
  justify-content: stretch;
  align-items: flex-start; */

  margin-top: 25px;
  padding: 15px;
  width: 100%;
  height: 100vh;
  max-height: 100%;
  overflow: hidden;
  touch-action: none;
  /* position: relative; */
}

/* stickers */

.sticker {
  background-color: green;
  border: 1.5px solid black;
  align-self: start;
  min-width: 300px;
  max-width: 500px;
  position: absolute;
}

.sticker--draged {
  border: 1.5px dotted black;
}

.sticker__header {
  /* display: grid;
  grid-auto-rows: 45px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  background-color: pink;
  display: flex;
  flex-flow: column nowrap;
}

.sticker__drag {
  flex: 1 1 100%;
  background-color: yellow;
  text-align: center;
  cursor: move;
}

.sticker__form {
  /* display: grid;
  grid-auto-rows: 45px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  display: flex;
  background-color: pink;
}

.sticker__input {
  font-size: 1rem;
  font-weight: normal;
}

/* .sticker__input:nth-child(1) {
  min-width: 50%;
} */

.sticker__input:focus {
  box-shadow: var(--inputFocusShadowBox);
  -webkit-box-shadow: var(--inputFocusShadowBox);
}

.sticker__nav-cnt {
  width: 100%;
  /* grid-column: span 2; */
}

.sticker__nav-list {
  display: flex;
}

.sticker__content {
  width: 100%;
  height: 0;
  background: green;
  visibility: collapse;
  transition: visibility 1s, height 1s;
}

.sticker__content--expanded {
  height: 200px;
  visibility: visible;
}

.sticker__form-content {
  width: 100%;
  height: 0;
  visibility: hidden;
  transition: visibility 0.7s, height 0.75s;
}

.sticker__form-content--visible {
  height: 200px;
  visibility: visible;
}

.sticker__textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

/* Sticker checkbox */

.sticker__delete-checkbox {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  z-index: 9999;
}

.sticker__delete-checkbox--active {
  display: block;
}

/* Blur */

.blur {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  opacity: 0.9;
  background-color: green;
  pointer-events: none;
}

.blur--active {
  display: block;
}

.draggable {
  touch-action: none;
  user-select: none;
}

@media (min-width: 320px) {
  :root {
    font-size: calc(15px + 5 * ((100vw - 320px) / 680));
  }
}

@media (min-width: 768px) {
  .site-header__logo,
  .site-header__title {
    margin-right: 0.25rem;
    font-size: 1rem;
  }

  .site-header__branding--hidden {
    display: flex;
  }

  .hamburger-btn {
    display: none;
  }

  .site-header__nav {
    margin-left: 0;
    width: 100%;
  }

  .site-header__navigation {
    position: static;
    margin-top: 0;
    margin-right: 15px;
    transform: translateY(0);
    height: 100%;
    visibility: visible;
    transition: none;
    width: 100%;
  }

  .site-header__navigation .site-header__list {
    flex-flow: row nowrap;
    justify-content: flex-end;
  }

  .site-header__navigation .site-header__item {
    border: none;
    flex-basis: 25%;
  }

  .site-header__navigation .site-header__list .site-header__item:first-child {
    border: none;
  }

  .site-header__navigation--hidden {
    display: none;
  }
}

@media (min-width: 1000px) {
  :root {
    font-size: 20px;
  }
}
